body {
    background-image: url("../images/chat.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
.but_log_out {
    padding: 50% 50 50 30%;         
}
.but_back {
    margin: 0 0 0 0;

    }
    
textarea {
    width: 30%;
    margin: 20% 0 0 31%;
    overflow-y: scroll;
    overflow-x: hidden;
}