body {
    background-image: url("../images/choosing_type.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.but_log_out {
    margin: 1% 0 0 79%;         
}

.but1 {
    margin: 10% 15 10 20%;
}

.but2 {
    margin: 0% 15 10 0;
}

