body {
    background-image: url("../images/choosing_type.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.hlp {
    margin: 1% 0 0 84%;          
 }
 
.help:link {
    color: white;
}

.help:visited {
    color: white;
}

.but_log_out {
    margin: 3% 0 0 84%;         
}

.but1 {
    margin: 8% 15 10 20%;
}

.but2 {
    margin: 0% 15 10 0;
}

