body {
    background-image: url("../images/chat.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
.but_log_out {
    margin: -7% 0 0 80%;         
}

.but_back {
    margin: 0 0 0 0;
}

input[type="text"] {
    width: 30%;
    margin: 20% 0 0 31%;
}

