{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/theory_message_list.css' %}">  
         <script type="text/javascript">
            var block = document.getElementById("mes_table");
            
            function scroll_To_Buttom(id) {
                var block = document.getElementById("mes_table");
                block.scrollTop = block.scrollHeight - block.clientHeight;
            }
        </script>  
    </head>
     <body onload="scroll_To_Buttom('mes_table')">
        <a href="{% url 'choosing_type' %}"> <img class="but_back" src="{% static 'images/button_back.png' %}" width="8%"/></a>
        <a href="{% url 'logout' %}"> <img class="but_log_out" src="{% static 'images/button_log_out.png' %}" width="10%"/></a>
        <div class="table_dialog" id="mes_table">
            <table>
                {% for m in mes %}
                <tr>
                    {% if m.source == "user" %}
                        <td width="230" align="left"><p class="content">{{m.text}}</p></td>
                        <td width="230"><p>  </p></td>
                    {% else %}
                        <td width="230"><p>  </p></td>
                        <td width="230" align="right"><p class="content">{{m.text}}</p></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <form action="/sent_theory" method="get">
            <textarea autocomplete="off" name="theory_chat_label" rows="5"> </textarea>
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>